ul.notebook {
  margin: 0;
  li {
    margin: 0;
    list-style: none;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #999999;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    span {
      display: inline-block;
    }
  }
}
.notebook-message {
  margin: 20px;
}
.date, .note {
  font-size: smaller;
}
.title {
  margin-bottom: 8px;
}
.note {
  margin-top: 8px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.geocoords, .place {
  float: right;
  font-size: smaller;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.geocoords {
  color: #4e7eef;
}
.location-icon {
  fill: #4e7eef;
}
.place {
  color: #666;
}
.place-icon {
  fill: #ed453b;
}