<div class="modal-mask">

  <div class="modal-wrapper">

    <div class="modal-container">

      <div class="modal-header">
        <h3 *ngIf="mode === 'edit'">Edit Notebook</h3>
        <h3 *ngIf="mode === 'new'">Create a New Notebook</h3>
      </div>

      <div *ngIf="notebook" class="modal-body">
        <div *ngIf="errors.length > 0" class="error-msg">
          <b>Please correct the following issue(s):</b>
          <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </div>
        <input type="text" id="notebookName" [(ngModel)]="notebook.name" maxlength="40" placeholder="Enter a name">
        <span *ngIf="!!notebook.name" class="input-info">
            Maximum 40 characters (<span [class]="notebook.name.length < 30 ? 'char-count' : 'char-count-close'">{{40 - notebook.name.length}}</span> remaining)
          </span>
      </div>

      <div class="modal-footer">
        <button class="modal-optional-button" (click)="onClose()">
          Cancel
        </button>
        <button class="modal-default-button" (click)="onConfirm(notebook)">
          Save
        </button>
      </div>

    </div>

  </div>

</div>