.content {
  padding: 20px;
}
.content > div {
  margin: 10px 0;
}
.geocoords img {
  vertical-align: middle;
}
.note {
  white-space: pre-wrap;
}
a svg {
  fill: #42b983;
}
.navigation a {
  display: inline-block;
}